:root {
    scroll-behavior: smooth;
}

body {
    color: #5c645b;
}

a {
    color: #262626;
    text-decoration: none;
}

a:hover {
    color: #787877;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
}

.btn {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: #262626;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #909090;
}
  
.btn:hover {
    background: #262626;
    color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 40px;
  }
  
  .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #787877;
    text-transform: uppercase;
  }
  
  .section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #787877;
  }
  
  @media (max-width: 768px) {
    .section-header p {
      font-size: 28px;
      line-height: 32px;
    }
  }

/*--------------------------------------------------------------
# Produk
--------------------------------------------------------------*/
.produk .box {
    padding: 0 0 40px 0;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .produk .box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  
  .produk h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #909090;
  }
  
  .produk .price {
    font-size: 36px;
    color: #444444;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  
  .produk .price sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .produk .price span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .produk ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 25px;
  }
  
  .produk ul li {
    padding-bottom: 10px;
  }
  
  .produk ul .na {
    color: #787877;
    text-decoration: line-through;
  }
  
  .produk .btn-buy {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: #909090;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #909090;
  }
  
  .produk .btn-buy:hover {
    background: #909090;
    color: #fff;
  }

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .card {
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  border: none;
}

.team .card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    color: #444444;
    background: rgba(220,228,216, 0.3);
    padding: 30px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    padding: 40px 0;
    overflow: hidden;
  }
.social-links {
    font-size: 20px;
}